<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">

<dom-module id="convocatorias-financiero-ministraciones-desglose-gastos">
    <template>
        <style include="bootstrap4-styles">
            :host {
                display: block;
                padding: 1rem;
            }

            .cont16 {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        </style>

        <iron-ajax id="ajaxDesgloseGasto" auto url="{{urlDesgloseGasto}}" handle-as="JSON" last-response="{{jsonDesgloseGasto}}"
            loading="{{loadingDesgloseGasto}}"></iron-ajax>

        <section>
            <template is="dom-if" if="[[hasDesgloseGasto]]">
                <template is="dom-repeat" items="[[dataDesgloseGasto.rows]]">
                    <div class="cont16">
                        <div class="card bg-light mb-1">
                            <div class="card-body">
                                <h5 class="card-title" data-index$="collapse_dg_[[index]]" on-click="_toggleCollapse">
                                    [[item.descripcion]]
                                    <div class="float-sm-right text-success">$ [[item.monto]]</div>
                                </h5>
                                <iron-collapse id$="collapse_dg_[[index]]" opened>
                                    <p class="card-text">
                                        <div class="cont16">
                                            <div>
                                                <label for="lb_requerimiento" class="control-label" style="width:100%;">Requerimiento: </label>
                                                <span id="lb_requerimiento" class="text-info" style="width:100%;">[[item.requerimiento]]</span>
                                            </div>
                                            <div>
                                                <label for="lb_partida" class="control-label" style="width:100%;">Partida: </label>
                                                <span id="lb_partida" class="text-info" style="width:100%;">[[item.partida]]</span>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label for="lb_justificacion" class="control-label" style="width:100%;">Justificación: </label>
                                            <p id="lb_justificacion" class="text-info text-justify" style="width:100%;">[[item.justificacion]]</p>
                                        </div>

                                    </p>
                                </iron-collapse>
                            </div>
                        </div>
                    </div>
                </template>
            </template>
            <template is="dom-if" if="[[!hasDesgloseGasto]]">
                <div class="alert alert-info text-center">
                    No hay información de desglose de gasto
                </div>
            </template>
        </section>
    </template>

    <script>
        /**
         * `convocatorias-financiero-ministraciones-desglose-gastos`
         * WebComponent del proyecto de convocatorias para mostrar los detalles de la información financiera
         *
         */
        class ConvocatoriasFinancieroMinistracionesDesgloseGasto extends Polymer.Element {
            static get is() { return 'convocatorias-financiero-ministraciones-desglose-gastos'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    idMinistracion: {
                        type: Number
                    },
                    urlDesgloseGasto: {
                        type: String,
                        readOnly: true,
                        computed: '_urlDesgloseGastoComputed(idResponsable, idMinistracion)'
                    },
                    hasDesgloseGasto: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasDesgloseGastoComputed(dataDesgloseGasto)'
                    },
                    jsonDesgloseGasto: {
                        type: Array,
                        observer: '_jsonDesgloseGastoObserver'
                    },
                    dataDesgloseGasto: {
                        type: Array,
                        readOnly: true
                    }
                };
            }
            _urlDesgloseGastoComputed(idResponsable, idMinistracion) {
                if (idResponsable) {
                    return `https://intraug.ugto.mx/Convocatoria/Financiero/DataDesglosesByMinistracion?id_responsable=${idResponsable}&id_m_ministracion=${idMinistracion}`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Financiero/DataDesglosesByMinistracion?id_responsable=${idResponsable}&id_m_ministracion=${idMinistracion}`;
                    // return App.Config.apppath + `/Financiero/DataDesglosesByMinistracion?id_responsable=${idResponsable}&id_m_ministracion=${idMinistracion}`;
                }
            }
            _hasDesgloseGastoComputed(dataDesgloseGasto) {
                if (dataDesgloseGasto && dataDesgloseGasto.records > 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            _jsonDesgloseGastoObserver(jsonDesgloseGasto) {
                if (jsonDesgloseGasto) {
                    // console.log('_jsonDesgloseGastoObserver', JSON.parse(jsonDesgloseGasto));
                    this._setDataDesgloseGasto(JSON.parse(jsonDesgloseGasto));
                }
            }
            _toggleCollapse(e) {
                var collapseElem = this.shadowRoot.querySelector('#' + e.currentTarget.dataset.index);
                if (collapseElem) {
                    collapseElem.toggle();
                }
            }
        }

        window.customElements.define(ConvocatoriasFinancieroMinistracionesDesgloseGasto.is, ConvocatoriasFinancieroMinistracionesDesgloseGasto);
    </script>
</dom-module>