<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">
<link rel="import" href="./convocatorias-financiero-ministraciones-desglose-gasto.html">

<dom-module id="convocatorias-financiero-ministraciones">
    <template>
        <style include="bootstrap4-styles fontawesome-styles">
            :host {
                display: block;
                padding: 1rem;
            }

            .cont16 {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .cont8 {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
            }
        </style>
        <iron-ajax id="ajaxMinistraciones" auto url="{{urlMinistraciones}}" handle-as="JSON" last-response="{{jsonMinistraciones}}"
            loading="{{loadingMinistraciones}}"></iron-ajax>

        <section>
            <div class="card border-info">
                <div class="card-header text-center bg-info text-white">
                    <span class="fa fa-balance-scale" aria-hidden="true"></span> Ministraciones
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Detalles</h5>
                    <div class="card-text contenedor">
                        <template is="dom-if" if="[[hasMinistraciones]]">
                            <div class="text-secondary text-center">
                                <h5>Número de ministraciones: [[dataMinistraciones.records]]</h5>
                            </div>
                            <template is="dom-repeat" items="[[dataMinistraciones.rows]]">
                                <div class="cont16">
                                    <div class="card border-info mb-3">
                                        <div class="card-header bg-transparent">
                                            <p class="card-title text-info text-justify">[[item.descripcion]]
                                                <div class="float-sm-right text-success">$ [[item.monto_ministracion]]</div>
                                            </p>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <div class="cont8">
                                                    <div>
                                                        <label for="lb_fecha_registro" class="control-label" style="width:100%;">Fecha registro: </label>
                                                        <span id="lb_fecha_registro" class="text-info" style="width:100%;">[[item.fecha_registro]]</span>
                                                    </div>
                                                    <div>
                                                        <label for="lb_fecha_registro" class="control-label" style="width:100%;">Fecha registro: </label>
                                                        <span id="lb_fecha_registro" class="text-info" style="width:100%;">[[item.fecha_registro]]</span>
                                                    </div>
                                                    <div>
                                                        <label for="lb_fecha_inicio" class="control-label" style="width:100%;">Fecha inicio: </label>
                                                        <span id="lb_fecha_inicio" class="text-info" style="width:100%;">[[item.fecha_inicio]]</span>
                                                    </div>
                                                    <div>
                                                        <label for="lb_fecha_fin" class="control-label" style="width:100%;">Fecha fin: </label>
                                                        <span id="lb_fecha_fin" class="text-info" style="width:100%;">[[item.fecha_fin]]</span>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="card-footer bg-transparent">
                                            <convocatorias-financiero-ministraciones-desglose-gastos id-responsable="[[idResponsable]]" id-ministracion="[[item.id_modalidad_ministracion]]"></convocatorias-financiero-ministraciones-desglose-gastos>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                        <template is="dom-if" if="[[!hasMinistraciones]]">
                            <div class="alert alert-info text-center">
                                No hay información de ministraciones
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </section>
    </template>

    <script>
        /**
         * `convocatorias-financiero-ministraciones`
         * WebComponent del proyecto de convocatorias para mostrar los detalles de la información financiera
         *
         */
        class ConvocatoriasFinancieroMinistraciones extends Polymer.Element {
            static get is() { return 'convocatorias-financiero-ministraciones'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    urlMinistraciones: {
                        type: String,
                        readOnly: true,
                        computed: '_urlMinistracionesComputed(idResponsable)'
                    },
                    hasMinistraciones: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasMinistracionesComputed(dataMinistraciones)'
                    },
                    jsonMinistraciones: {
                        type: Array,
                        observer: '_jsonMinistracionesObserver'
                    },
                    dataMinistraciones: {
                        type: Array,
                        readOnly: true
                    }

                };
            }
            _urlMinistracionesComputed(idResponsable) {
                if (idResponsable) {
                    return `https://intraug.ugto.mx/Convocatoria/Financiero/DataMinistraciones?id_responsable=${idResponsable}&tipo=1`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Financiero/DataMinistraciones?id_responsable=${idResponsable}&tipo=1`;
                    // return App.Config.apppath + `/Financiero/DataMinistraciones?id_responsable=${idResponsable}&tipo=1`;
                }
            }
            _hasMinistracionesComputed(dataMinistraciones) {
                if (dataMinistraciones && dataMinistraciones.records > 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            _jsonMinistracionesObserver(jsonMinistraciones) {
                if (jsonMinistraciones) {
                    // console.log('_jsonMinistracionesObserver', JSON.parse(jsonMinistraciones));
                    this._setDataMinistraciones(JSON.parse(jsonMinistraciones));
                }
            }
        }

        window.customElements.define(ConvocatoriasFinancieroMinistraciones.is, ConvocatoriasFinancieroMinistraciones);
    </script>
</dom-module>